.btn.dropdown-toggle::after {
    border-top: .3em solid #bbbbbb;
    border-left: .3em solid transparent;
    border-right: .3em solid transparent;
}

.btn-group .btn {
    width: 135px;
    border-color: #bbbbbb;
}

.btn span {
    color: #bbbbbb; 
}

.row>.col-lg-3,
.row>.col-lg-6 {
    padding: 0;
}

.aside-wrap div {
    padding: 50px;
    height: 200px;
    width: 200px;
    background-color: #f6f6f6;
}

.aside-wrap div img {
    height: 100%;
}

.aside-wrap div:nth-child(even) {
    background-color: #e6e6e6;
}

.form {
    background-color: #6b6ace;
}

.underline {
    height: 5px;
    width: 50px;
    margin: 0 auto;
    background-color: #ffffff;
}

.footer {
    min-height: 200px;
    background-color: #f0f0f0;
}

.footer .txt {
    font-size: 13px;
}

.footer .logo {
    height: 60px;
}

.icon img{
    height: 40px;
}

@media (max-width: 480px) {
    .aside-wrap div {
        padding: 20px;
        height: 120px;
        width: 120px;
    }
}
