.btn.dropdown-toggle::after {
    border-top: .3em solid #bbbbbb;
    border-left: .3em solid transparent;
    border-right: .3em solid transparent;
}

.btn-group .btn {
    width: 135px;
    border-color: #bbbbbb;
}

.btn span {
    color: #bbbbbb; 
}

.row>.col-lg-3,
.row>.col-lg-6 {
    padding: 0;
}

.aside-wrap section {
    padding: 50px;
    height: 200px;
    width: 200px;
    background-color: #f6f6f6;
}

.aside-wrap section img {
    height: 100%;
}

.aside-wrap section:nth-child(even) {
    background-color: #e6e6e6;
}